/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
  margin: 0;
}

/* Background image styles */
.background-image {
  background-image: url('devops.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Place the background image behind other content */
}

/* GitHub info styles */
.github-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh; /* 100% of the viewport height */
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the content to the left */
  justify-content: center;
}

.github-info a {
  color: #007BFF;
  text-decoration: none;
  margin-top: 10px;
}

/* Entry container styles */
.content {
  max-width: 800px;
  margin: 120px auto 20px; /* Add spacing between image and entries container */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* 20% transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  z-index: 1; /* Place the entries container above the background image */
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#diary-list {
  list-style: none;
  padding: 0;
}

#diary-list li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* Icon styles */
i.material-icons,
i.fab {
  font-size: 18px;
  margin-right: 5px;
}

i.material-icons {
  vertical-align: middle;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .github-info {
    width: 100%;
    height: auto;
    position: relative;
  }

  .background-image {
    height: 10vh; /* Adjust the height for smaller screens */
  }

  .content {
    margin-top: 20px; /* Add spacing between image and entries container */
  }

  /* Reduce font size for better readability on smaller screens */
  h2 {
    font-size: 20px;
  }
}
